{% extends 'index.html.twig' %}

{% block content %}
    <div class="card" style="width: 18rem;">
        <div class="card-body">
            <h5 class="card-title">{{ quiz_title }}</h5>
            <p class="card-text">Ten test jest dla Ciebie dostępny</p>
            {{ form_start(startQuizForm) }}
            {{ form_end(startQuizForm) }}
        </div>
    </div>


{% endblock %}
